.index
	display flex
	flex-direction column

	&__header
		display flex
		justify-content flex-start
		align-items center
		padding 50px 20px
		box-shadow 1px 1px 9px 0 rgba(0,0,0,0.329)

	&__content
		display flex
		flex-direction column
		padding 20px

	&__search
		display flex
		justify-content flex-start
		align-items center
		padding 10px
		border-radius 12px
		box-shadow 1px 1px 9px 0 #00000054
		margin 15px 0

		&-input
			max-width 230px

		&-title
			min-width 140px
			margin-left 10px
			margin-right 20px

	&__main
		display flex
		justify-content space-between
		margin-top 20px

	&__filter
		min-width 230px
		display flex
		flex-direction column
		align-items flex-start
		justify-content flex-start
		height fit-content
		padding 10px 20px
		box-shadow 1px 1px 9px 0 #00000054
		border-radius 6px

		&-item
			margin 10px 0

	&__items
		width 100%
		display flex
		flex-direction column
		margin-left 20px

