.index__hits
	width 100%
	display flex
	flex-direction column

	&-title
		width 100%
		text-align center
		padding 30px 0
		font-weight 900
		font-size 26px

	&-container
		display flex
		flex-wrap wrap

	&-item
		width 300px
		display flex
		flex-direction column
		justify-content space-between

	&-price
		margin-top 20px
		font-weight bold

	& .ant-card
		&-cover
			padding 30px

		&-bordered
			margin 6px
