.index__restaurants
	display flex
	flex-direction column
	align-items flex-start

	&-title
		margin-left 20px
		margin-bottom 20px

	&-item
		width 100%
		display flex
		justify-content space-between
		margin 8px 0
		box-shadow 1px 1px 9px 0 rgba(0,0,0,0.329)
		border-radius 12px
		padding 20px
		cursor pointer

	&-main
		display flex
		justify-content flex-start
		align-items flex-start

	&-logo
		max-width 120px
		margin-right 20px

	&-intro
		display flex
		flex-direction column
		align-items flex-start
		justify-content flex-start

	&-info
		display flex
		flex-direction column
		align-items flex-start
