<template>
  <div class="index__hits">
    <p class="index__hits-title">
      Хиты
    </p>
    <div class="index__hits-container">
      <a-skeleton v-if="getHits.length === 0" active />
      <a-card
        class="index__hits-item"
        v-else
        v-for="hit in getHits"
        :key="hit.ProductDescription"
        hoverable
      >
        <img slot="cover" :src="hit.ProductImage" />
        <template slot="actions" class="ant-card-actions">
          <a-icon type="like" />
          <a-icon type="dislike" />
          <a-icon type="shopping-cart" />
        </template>
        <a-card-meta
          :title="hit.ProductName"
          :description="hit.ProductDescription"
        >
          <a-avatar slot="avatar" :src="hit.RestaurantLogo" />
        </a-card-meta>
        <p class="index__hits-price">Цена: {{ hit.ProductPrice }} руб.</p>
      </a-card>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
  name: "hits",
  created() {
    this.request(this.requestSettings)
  },
  data() {
    return {
      requestSettings: {
        request: "https://front-task.chibbistest.ru/api/v1/hits",
        commit: "setHits"
      }
    }
  },
  methods: {
    ...mapActions({
      request: "request"
    })
  },
  computed: {
    ...mapGetters({
      getHits: "getHits"
    })
  }
}
</script>
