<template>
  <div class="index__restaurants">
    <p class="index__restaurants-title">
      Рестораны
    </p>
    <a-skeleton v-if="getRestaurants.length === 0" active avatar />
    <div
      class="index__restaurants-item"
      v-for="restaurant in getRestaurants"
      :key="restaurant.Name"
      v-else
    >
      <div class="index__restaurants-main">
        <img :src="restaurant.Logo" class="index__restaurants-logo" />
        <div class="index__restaurants-intro">
          <p class="index__restaurants-name">
            {{ restaurant.Name }}
          </p>
          <a-breadcrumb>
            <a-breadcrumb-item
              v-for="crumb in restaurant.Specializations"
              :key="crumb.Name"
            >
              {{ crumb.Name }}
            </a-breadcrumb-item>
          </a-breadcrumb>
          <p class="index__restaurants-reviews">
            Отзывы ({{ restaurant.ReviewsCount }})
          </p>
        </div>
      </div>
      <div class="index__restaurants-info">
        <p>Мин. сумма заказа {{ restaurant.MinCost }}</p>
        <p>Стоимость доставки {{ restaurant.DeliveryCost }}</p>
        <p>Время доставки {{ restaurant.DeliveryTime }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
  created() {
    this.request(this.requestSettings)
  },
  name: "restoraunts",
  data() {
    return {
      requestSettings: {
        request: "https://front-task.chibbistest.ru/api/v1/restaurants",
        commit: "setRestaurants"
      }
    }
  },
  computed: {
    ...mapGetters({
      getRestaurants: "getRestaurants"
    })
  },
  methods: {
    ...mapActions({
      request: "request"
    })
  }
}
</script>
