<template>
  <div class="index__reviews">
    <p class="index__reviews-title">
      Отзывы
    </p>
    <a-list
      class="comment-list index__reviews-item"
      :header="`${data.length} replies`"
      item-layout="horizontal"
      :data-source="getReviews"
    >
      <a-list-item slot="renderItem" slot-scope="item">
        <a-comment
          :author="item.UserFIO"
          avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        >
          <template slot="actions">
            <span>{{ item.RestaurantName }}</span>
          </template>
          <p slot="content">
            {{ item.Message }}
          </p>
          <a-tooltip slot="datetime" :title="item.DateAdded">
            <span>{{ item.DateAdded }}</span>
          </a-tooltip>
        </a-comment>
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
  name: "reviews",
  created() {
    this.request(this.requestSettings)
  },
  data() {
    return {
      requestSettings: {
        request: "https://front-task.chibbistest.ru/api/v1/reviews",
        commit: "setReviews"
      },
      data: [
        {
          actions: ["Reply to"],
          author: "Han Solo",
          avatar:
            "https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png",
          content:
            "We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.",
          datetime: "2020-02-21T13:50:44.227"
        },
        {
          actions: ["Reply to"],
          author: "Han Solo",
          avatar:
            "https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png",
          content:
            "We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.",
          datetime: "2020-02-21T13:50:44.227"
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      getReviews: "getReviews"
    })
  },
  methods: {
    ...mapActions({
      request: "request"
    })
  }
}
</script>

<style scoped></style>
