<template>
  <div class="index">
    <header class="index__header">
      <a-skeleton
        v-if="getRestaurants.length === 0"
        avatar
        :paragraph="{ rows: 0 }"
      />
      <img v-else src="~/assets/img/logo.png" />
    </header>
    <nuxt />
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  computed: {
    ...mapGetters({
      getRestaurants: "getRestaurants"
    })
  }
}
</script>
