<template>
  <div class="index__content">
    <div class="index__search">
      <p class="index__search-title" v-if="getClientWidth > 450">
        Поиск заведения:
      </p>
      <a-input-search
        class="index__search-input"
        :placeholder="getClientWidth > 450 ? 'Поиск' : 'Поиск заведения'"
        v-model="filterValues.search"
        @search="filter(filterValues)"
      />
    </div>
    <div class="index__main">
      <div class="index__filter">
        <a-checkbox
          class="index__filter-item"
          v-for="item in filterList"
          :key="item"
          @click="setFilter(item)"
        >
          {{ item }}
        </a-checkbox>
      </div>
      <div class="index__items">
        <restaurants />
        <hits />
        <reviews />
      </div>
    </div>
  </div>
</template>

<script>
import restaurants from "~/components/restoraunts"
import hits from "~/components/hits"
import reviews from "~/components/reviews"
import { mapMutations } from "vuex"

export default {
  components: {
    restaurants,
    hits,
    reviews
  },
  data() {
    return {
      collapsed: false,
      filterList: ["Бесплатная доставка", "Пицца", "Суши", "Бургеры", "Пироги"],
      filterValues: {
        search: "",
        filter: []
      }
    }
  },
  computed: {
    getClientWidth() {
      if (process.browser) {
        return window.screen.width
      }
    }
  },
  methods: {
    ...mapMutations({
      filter: "filter"
    }),
    setFilter(item) {
      const filter = this.filterValues.filter
      if (filter.indexOf(item) !== -1) {
        filter.splice([filter.indexOf(item)], 1)
      } else {
        filter.push(item)
      }
      this.filter(this.filterValues)
    }
  }
}
</script>
